
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" href="/assets/css/custom.css">-->
</head>
<style>
    .login{
        width: 1000px;
        height: 1000px;
    }
    .keo{
        margin-top: 100px;
    }
    .tim{
        background-color:#ffd6cc ;
        width: 900px;
    }
</style>
<body class="container">
    <div style="text-align:center">
        <div style=" margin-top:150px;display: inline-block;width:700px;height:700px;background-color:#d1ccff; border-radius: 15px;">
        <div style="margin-top:100px;">
            <form style="width: 40%; margin: auto;" class="form-signin" method="POST" action="/login">
                <center>
                    <div class="login-form">
                        <h1 style="font-family: 'Lobster', cursive; color:rgb(0, 19, 128);font-size: 50px;">Đăng Nhập</h1>
                        <div style="text-align: center;">
                            <img style='width:200px;height: 200px; margin: auto; border-radius:30px'  class = "logo" src="https://cdn11.bigcommerce.com/s-7ktwhbi/images/stencil/2048x2048/products/87/272/Raspberry__69627.1399585740.jpg?c=2">
                        </div>
                        <br>
                  
                </center>
                <input style="margin-bottom: 5px;" type="username" id="inputEmail" name="username" class="form-control" placeholder="Username" required
                    autofocus>
    
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
                    required>
    
                <br />
    
                <button class="btn btn-lg btn-default btn-block" type="submit">Sign in</button>
                <footer >
                    <p style = "margin-top: 100px" class="text-center text-muted">Quản Lý Shop Điện Tử</p>
                </footer>
                
            </form>
        </div>
    </div>
    </div>
    
</body>
</html>